spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: Abcd@1234
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    user: postgres
    password: Abcd@1234
  cache:
    type: simple

server:
  port: 8080

jwt:
  secret: "4e1c8b4f2f9d9a88b32ae4ed0f2b733f889cd9aabfcd112233ef77a99bcd55aa"
  expiration-ms: 3600000
